<hr class="post-list__divider " />

<nav class="pagination" role="navigation">
    <% if (page.prev != 0) { %>
        <a class="newer-posts pagination__newer btn btn-small btn-tertiary" href="<%- url_for(page.prev_link) %>">&larr; 上一页</a>
    <% } %>
    <span class="pagination__page-number"><%- page.current %> / <%- page.total %></span>
    <% if (page.next != 0) { %>
        <a class="older-posts pagination__older btn btn-small btn-tertiary" href="<%- url_for(page.next_link) %>">更早 &rarr;</a>
    <% } %>
</nav>