<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

<body>

    <%- partial('_partial/side-panel') %>

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <%- body %>
            <%- partial('_partial/footer') %>
        </div>
    </div>
</body>

</html>