<nav class="cover-navigation navigation--social">
    <ul class="navigation">
        <li class="navigation__item">
            <a href="<%- url_for(theme.social.weibo) %>" target="__blank">
                <i class="social fa fa-weibo"></i>
                <span class="label">Weibo</span>
            </a>
        </li>
        <li class="navigation__item">
            <a href="<%- url_for(theme.social.github) %>" target="__blank">
                <i class="social fa fa-github"></i>
                <span class="label">Github</span>
            </a>
        </li>
        <li class="navigation__item">
            <a href="<%- url_for(theme.social[name]) %>" target="__blank">
                <i class="social fa fa-twitter"></i>
                <span class="label">Twitter</span>
            </a>
        </li>
        <li class="navigation__item">
            <a href="/feed.xml">
                <i class="social fa fa-rss"></i>
                <span class="label">RSS</span>
            </a>
        </li>
        <li class="navigation__item">
            <a href="<%- url_for(theme.social.email) %>">
                <i class="social fa fa-envelope"></i>
                <span class="label">Email</span>
            </a>
        </li>
    </ul>
</nav>